.subcontainer{
  display: grid;
grid-template-columns: repeat(3, 1fr);
grid-auto-rows: 250px;
grid-gap: 10px;
}

.col5{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.subcontainer{
padding:10px;
width: 100%;
}
.col1,.col2,.col3,.col4,.col5{

  padding:10px;
  border-radius: 20px;
  border:1px solid lightgrey;
}
.cont,.cont-2{
  margin-top: 10px;
text-align: center;
  align-items: center;
}
.subcontainer > i{
color:inherit;
}
